name: CI
run-name: ${{ github.event_name }} from ${{ github.event_name }}
on: [push]

jobs:
  inception:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Deno first
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Lint
        run: deno fmt --check poopline.ts
      - name: Get deps
        run: deno cache poopline.ts
      - name: Run poopline on test data
        run: test/poopline_test.sh
