name: CI
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]

jobs:
  inception:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Deno first
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Run poopline on test data
        run: test/poopline_test.sh
      - name: Show test results, if any
        run: head poopline_test.*/*
